body {
	background-color: #E8207D;
}

.centered {
	margin-left: 375px;
}

.center {
	background-color: white;
	float: none;
	margin: 0 auto;
	text-align: center;
}

.scoring {
	border: solid 2px #C53CFF;
	line-height: 50px;
	border-radius: 10px;
	margin-top: 20px;
	font-size: 120%;
}

.instr {
	border-radius: 10px;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.cover, .finish {
	background-color: #ccc;
	text-align: center;
	height: 310px;
	line-height: 310px;
	font-size: 300%;
	margin-top: -9px;
}

.finish {
	display: none;
	margin-top: -321px;
	color: #E82416;
	opacity: 0.75;
	filter: alpha(opacity=75);
}

.bottom_margin {
	margin-bottom: 20px;
}

.box {
	display: none;
	background-color: #3C45FF;
	color: #ACE80A;
	font-size: 200%;
	text-align: center;
	border: solid 2px gray;
	line-height: 80px;
	border-radius: 5px;
}

.box2 {
	position: relative;
	top: -340px;
	left: -370px;
	background-color: #3C45FF;
	color: #ACE80A;
	text-align: center;
	border: solid 1px gray;
	line-height: 40px;
	border-radius: 5px;
}

.none_box {
	display: none;
	background-color: gray;
	font-size: 200%;
	text-align: center;
	border: solid 2px gray;
	line-height: 80px;
	border-radius: 5px;
}

.none_box2 {
	position: relative;
	top: -340px;
	left: -370px;
	background-color: gray;
	text-align: center;
	border: solid 1px gray;
	line-height: 40px;
	border-radius: 5px;
}

.bigger {
	position: relative;
	top: -340px;
	left: -20px;
	font-size: 150%;
	margin-bottom: 30px;
}